$body-bg-color: #ffffff;
$dark-color: #262626;
$desc-color: #9199a1;
$white: #ffffff;
$highline-color: #0366d6;
$highline-color-small: #07C;
$text-font-color: #535a60;
$primary-color: #F48024;
$border-color: #ddd;
$theme-font-family: 'Open Sans', "intercom-font", "Helvetica Neue", Helvetica, Arial, sans-serif;

.ui-page-body {
  max-width: 1000px;
}

